name: Build & Run Dockerfile

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU (pour multi-arch, optionnel ici)
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: Docker   
          file: Docker/Dockerfile 
          load: true       
          tags: ci-test:latest  
          
      - name: Run container
        run: |
          docker run --rm ci-test:latest
